<div class='banner'>
    <div class='title'>
        <h1>Gear Pricing Guide</h1>
        <p>Search your gear, find out what it's worth.</p>
        <br />
        <input type='text' class='form-control' id='query' name='query' placeholder='ex: 1994 Fender Stratocaster'>
        <button class='search-button'>Search</button>
        <!-- End title div. -->
    </div>
    <!-- End banner div. -->
</div>

<div class='results'>
    <!-- If we have results from price guide search query, render price guide results partials
    else
    Render default index partial -->
</div>
