<html>
<head>
    <title>Guitar Price Guide</title>
</head>
<body>

    <div class='title'>
        <h1>Gear Pricing Guide</h1>
        <p>Search your gear, find out what it's worth.</p>
        <br />
        <form class='form-inline'>
            <div class='form-group'>
                <input type='text' class='form-control' id='gear-query' placeholder='ex: 1994 Fender Stratocaster'>
                <button type='submit' class='button'>Search</button>
            </div>
        </form>
    </div>
</body>
</html>
