/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 //- - - - - - - - - - Imports - - - - - - - - - -//
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

//- - - - - - - - - - Variables - - - - - - - - - -//
$dark: #1e0a29;
$whiteish: #fafafa;

//- - - - - - - - - - Global Styles - - - - - - - - - -//
html, body{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Merriweather', verdana, sans-serif;
	overflow: hidden;
	background: $whiteish;
}

//- - - - - - - - - - Header Styles - - - - - - - - - -//
.header{
	height: 100px;
	width: 100%;
	color: $dark;
	padding: 1.25rem;
		.logo{
			font-weight: 700;
			font-size: 1.45rem;
			text-transform: uppercase;
			float: left;
			margin: 0;
			letter-spacing: 2px;
		}
		nav{
			float: right;
			padding: 2.5px 50px 0 0;
				a{
					color: $dark;
					text-decoration: none;
					margin-left: 2rem;
				}
		}
}

//- - - - - - - - - - Banner Styles - - - - - - - - - -//
.banner{
	color: $whiteish;
	height: 400px;
	border-bottom: 1px solid #f1f1f1;
	background-image: url("./guitar_amp.jpeg");
	background-size: cover;
	position: absolute;
	width: 100%;
	top: 70px;
}

.banner::before{
  	content: "";
  	background: rgba(0, 0, 0, 1.5);
  	opacity: 0.5;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: 0;
    min-height: 100%;
}

.title{
	position: relative;
    margin: 0 auto;
    width: 60%;
    margin-top: -5%;
    padding: 1em 5%;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    	h1{
    		text-transform: uppercase;
    		letter-spacing: 4px;
    		font-size: 52px;
    	}
    	p{
    		font-family: 'Merriweather', verdana, serif;
    		margin-top: -1.6em;
    	}
    	.button{
    		background: none;
    		border: 1px solid white;
    		border-radius: 4px;
    		font-family: 'Oswald';
    		font-size: 20px;
    		color: white;
    		letter-spacing: 1px;
    		padding: 6px 2%;
    		margin-left: 6px;
    		position: absolute;
    		transition: all 0.30s ease-in-out;
    	}
    	.button:hover{
    		background: $whiteish;
    		color: $dark;
    		cursor: pointer;
    	}
    	.form-group{
    		margin-left: -70px;
    		margin-top: 45px;
    	}
    	input[type='text']{
			border: none;
    		height: 42px;
    		width: 50%;
    		border-radius: 4px;
    		padding-left: 10px;
    		font-size: 19px;
    		margin-right: 5px;

		}
		input[type='text']:focus{
			  box-shadow: 0 0 5px $dark;
			  outline: $dark;
		}
}
