/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 //- - - - - - - - - - Imports - - - - - - - - - -//
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

//- - - - - - - - - - Variables - - - - - - - - - -//
$dark: #1e0a29;
$whiteish: #fafafa;

//- - - - - - - - - - Global Styles - - - - - - - - - -//
html, body{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Helvetica Neue', verdana, sans-serif;
	overflow: auto;
	overflow-x: hidden;
	background: $whiteish;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: $whiteish;
}

//- - - - - - - - - - Header Styles - - - - - - - - - -//
.header{
	height: 100px;
	width: 100%;
	color: $dark;
	padding: 1.25rem;
	font-family: 'Merriweather', sans-serif;
		.logo{
			font-weight: 700;
			font-size: 1.45rem;
			text-transform: uppercase;
			float: left;
			margin: 0;
			letter-spacing: 4px;
		}
		nav{
			float: right;
			padding: 2.5px 50px 0 0;
				a{
					color: $dark;
					text-decoration: none;
					margin-left: 2rem;
				}
		}
}

//- - - - - - - - - - Banner Styles - - - - - - - - - -//
.banner{
	color: $whiteish;
	height: 290px;
	border-bottom: 1px solid #f1f1f1;
	background-image: url("./guitar_amp.jpeg");
	background-size: cover;
	position: relative;
	width: 100%;
	top: -63px;
}

.banner::before{
  	content: "";
  	background: rgba(0, 0, 0, 1.5);
  	opacity: 0.5;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: 0;
    min-height: 100%;
}

.title{
	position: relative;
    margin: 0 auto;
    width: 60%;
    margin-top: -0.4%;
    padding: 1em 5%;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    	h1{
    		text-transform: uppercase;
    		letter-spacing: 5px;
    		font-size: 47px;
			margin-top: 24px;
    	}
    	p{
    		font-family: 'Merriweather', verdana, serif;
    		margin-top: -1.6em;
    	}
    	.search-button{
    		background: none;
    		border: 1px solid white;
			height: 38px;
    		border-radius: 4px;
    		font-family: 'Oswald';
    		font-size: 18px;
    		color: white;
    		letter-spacing: 1px;
    		padding: 5px 2%;
    		margin-left: 6px;
			margin-top: 15px;
    		position: absolute;
    		transition: all 0.30s ease-in-out;
    	}
    	.search-button:hover{
    		background: $whiteish;
    		color: $dark;
    		cursor: pointer;
    	}
    	input[type='text']{
			border: none;
    		height: 36px;
    		width: 47%;
    		border-radius: 4px;
    		padding-left: 10px;
    		font-size: 18px;
    		margin-right: 5px;
			margin-left: -81px;
    		margin-top: 15px;
		}
		input[type='text']:focus{
			box-shadow: 0 0 5px $dark;
			outline: $dark;
		}
	}

//- - - - - - - - - - Price Guide Results Styles - - - - - - - - - -//
.results{
	background: #e9e9e9;
    margin-top: -65px;
    position: absolute;
    min-height: 100%;
		.result-card{
			background: white;
			width: 24.5%;
			border-radius: 8px;
			border: 1px solid #DBDBDB;
			padding: 5px 1%;
			float: left;
			font-size: 14.5px;
			margin-left: 62px;
			margin-top: 20px;
			text-align: center;
			box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
			-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
			-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
				img{
					height: 200px;
					border-radius: 4px;
				}
				p{
					font-weight: 300;
				}
		}
}
